body{
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}



#userInput{
    font-size: 14px;
    width: 300px;
    text-align: center;
}

.title{
    font-size: 100px;
    text-align: center;
}

.hidden{
    display: none;
}

#Caravaggio{
    width: 400px;
    margin-top: 20px;
}

#renoir{
    width: 600px;
     margin: 20px;
     padding: 20px;
     text-align: center;
}

img{
    text-align: center;
}

#georgia{
    width: 200px;
}

#reset1{
    margin: 70px;
}

#rothko{
    width: 200px;
}

#klimt{
    width: 700px;
}

#frame{
    width: 600px;
    height: 650px;
    background-color: rgb(128, 98, 0);
}

#sargent{
    width: 350px;
    text-align: center;
}

#monet{
    padding: 20px;
}


.small-image{
    width: 100px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(237, 255, 255);
    font-size: 14px;
    margin: 15px;
    padding: 10px;
    border: none;
    background-color: rgb(69, 79, 145);
}


button:hover{
    background-color: rgb(0, 195, 130);
    color: black;
}

input{
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

